html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 1280px;
  overflow-x: hidden;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/*! Variables */
:root {
  --softfam: sofia-pro-soft, "Lucida Sans", Verdana, sans-serif;
  --edgyfam: sofia-pro, "Lucida Sans", Verdana, sans-serif;
  --narrowfam: sofia-pro-condensed, "Arial Narrow", "Lucida Sans", Verdana, sans-serif;

  /* Effect styles */
  --inner-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px -4px 4px rgba(0, 0, 0, 0.25);

  /* Color styles */
  --buttoncolor: rgba(0, 52, 72, 1);
  --darkblue: rgba(22, 112, 148, 1);
  --black: rgba(37, 38, 39, 1);
  --sectionborder: rgba(191, 212, 224, 1);
  --text-emphasis: rgba(16, 126, 147, 1);
  --lightblue: rgba(87, 200, 223, 1);
  --rulercolor: rgba(191, 212, 224, 0.5);
  --white: rgba(255, 255, 255, 1);
  --shadewhite: rgba(249, 249, 249, 1);
  --gray: rgba(85, 85, 85, 1);

  /* Paddings */
  --heropadding: 100px;
  --borderpadding: 5px;
  --containerpadding: 10px;
  --parentpadding: 120px;
  --siblingpadding: 60px;
  --internalpadding: 30px;
  --tinypadding: 15px;

  /* Text-size styles */
  --smalltext: 1rem;
  --label: 1.563rem;
  --link: 1.25;
  --sectiontitle: 2.313rem;
  --itemtitle: 2rem;
  --smalltitle: 1.563rem;
  --infotitle: 1.25rem;
  --bodybutton: 1.125rem;
  --infotext: 1rem;
}

@media only screen and (min-width: 768px) {
  :root {
    /* Text-size */
    --sectiontitle: 3.25rem;
    --itemtitle: 2.563rem;
    --smalltitle: 2rem;
    --link: 1.563rem;
    --infotitle: 1.563rem;
    --bodybutton: 1.25rem;
    --infotext: 1.125rem;

    /* Padding */
    --borderpadding: 20px;
    --containerpadding: 20px;
    --heropadding: 230px;
  }
}
@supports (font-size: clamp(1rem, 1vw * 2, 2rem)) {
  :root {
    /* Text clamps */
    --sectiontitle: clamp(2.313rem, 1.6437rem + 3.3464vw, 3.25rem);
    --itemtitle: clamp(2rem, 1.5979rem + 2.0107vw, 2.563rem);
    --link: clamp(1.25rem, 1.0264rem + 1.1179vw, 1.563rem);
    --smalltitle: clamp(1.563rem, 1.2509rem + 1.5607vw, 2rem);
    --infotitle: clamp(1.25rem, 1.0264rem + 1.1179vw, 1.563rem);
    --bodybutton: clamp(1.125rem, 1.0357rem + 0.4464vw, 1.25rem);
    --infotext: clamp(1rem, 0.9107rem + 0.4464vw, 1.125rem);

    /* Padding clamps */
    --borderpadding: clamp(5px, -5.7136px + 3.3482vw, 20px);
    --containerpadding: clamp(10px, 2.8576px + 2.2321vw, 20px);
    --heropadding: clamp(100px, 7.0864px + 29.0357vw, 230px);
  }
  @media only screen and (min-width: 768px) {
    :root {
      --containerpadding: clamp(20px, -75.7136px + 12.2024vw, 100px);
    }
  }
  @media only screen and (min-width: 1440px) {
    :root {
      --containerpadding: 100px;
    }
  }
}
/*! Text styling */

body {
  text-rendering: optimizeLegibility;
  font-family: var(--edgyfam);
  line-height: 1;
  color: var(--black);
}
h1,
h2,
h2 > button {
  font-family: var(--softfam);
  font-size: var(--sectiontitle);
  font-weight: 500;
  line-height: 112.5%;
}
h3 {
  font-size: var(--itemtitle);
  line-height: 112.5%;
  font-weight: 500;
  margin-bottom: var(--internalpadding);
}
.navblock__item {
  font-size: var(--label);
  font-weight: 600;
  letter-spacing: 0.05em;
}
p {
  font-size: var(--bodybutton);
  line-height: 170%;
  font-weight: 400;
  max-width: 694px;
  margin-bottom: var(--internalpadding);
}

.about__list p {
  font-size: var(--infotext);
  font-weight: 300;
}
.about__link span {
  font-family: var(--narrowfam);
  font-size: var(--link);
  color: var(--buttoncolor);
}
.about__list-title {
  font-size: var(--infotitle);
  font-weight: 500;
  color: var(--text-emphasis);
}
.smallcaps {
  font-variant-caps: small-caps;
  -moz-font-feature-settings: "smcp";
  -webkit-font-feature-settings: "smcp";
  font-feature-settings: "smcp";
}
.smallcaps--all {
  font-variant-caps: all-small-caps;
  -moz-font-feature-settings: "c2sc", "smcp";
  -webkit-font-feature-settings: "c2sc", "smcp";
  font-feature-settings: "c2sc", "smcp";
}
/* data:image/svg+xml;base64,
/*! Background styling and animation */
.cloud__container {
  z-index: 0;
  width: var(--cloudsize);
  height: 985px;
  position: absolute;
  top: 0;
  left: 0;
  background: repeat-x url("../media/onlycloud-small2.svg");
  -webkit-animation: CloudFlow 75s linear forwards infinite;
  animation: CloudFlow 75s linear forwards infinite;
  mix-blend-mode: screen;
}

.cloud__bg {
  overflow: hidden;
  --svgsize: 900px;
  --cloudsize: calc(var(--svgsize) * 2);
  z-index: 0;
  width: 100%;
  height: 985px;
  position: absolute;
  left: 0;
  right: 0;
  background: -o-linear-gradient(269.98deg, #aee1f9 0.02%, #ffffff 73.95%);
  background: linear-gradient(180.02deg, #aee1f9 0.02%, #ffffff 73.95%);
}
.hillbg {
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 2000px;
  background-image: url("../media/hilltop-mobile.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 1440px;
}
.hillbg__bottom {
  display: none;
  background-repeat: repeat-y;
  background-position: center top;
  background-size: 3840px 5346px;
  margin: 0 auto;
  margin-top: 1496px;
  z-index: 4;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .cloud {
    height: 1298px;
  }
  .cloud__container {
    height: 1298px;
    background: url("../media/onlycloud.svg");
    -webkit-animation-duration: 150s;
    animation-duration: 150s;
  }
  .cloud__bg {
    --svgsize: 3840px;
    height: 1298px;
  }
  .hillbg {
    top: 110px;
  }
}
@media only screen and (min-width: 1240px) {
  .hillbg {
    background-image: url("../media/hilltop-desktop2.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 3840px 1497px;
  }
  @media only screen and (min-width: 1440px) {
    .hillbg__bottom {
      display: block;
      background-image: url("../media/hillbottom-desktop2.svg");
    }
  }
}

@-webkit-keyframes CloudFlow {
  to {
    -webkit-transform: translateX(calc((var(--cloudsize) - var(--svgsize)) * -1));
    transform: translateX(calc((var(--cloudsize) - var(--svgsize)) * -1));
  }
}
@keyframes CloudFlow {
  to {
    -webkit-transform: translateX(calc((var(--cloudsize) - var(--svgsize)) * -1));
    transform: translateX(calc((var(--cloudsize) - var(--svgsize)) * -1));
  }
}

/*! Reusable Components */
.pagewidth {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--borderpadding);
}
.visuallyhidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}
button {
  background-color: transparent;
}
.ctabutton {
  display: flex;
  align-items: flex-start;
  padding: 20px 25px;
  border-radius: 25px;
  background-color: var(--buttoncolor);
  color: var(--white);
  font-weight: 400;
  line-height: 100%;
  font-family: var(--softfam);
  text-transform: uppercase;
  font-size: var(--bodybutton);
}

/*! Navigation */
.header--nav {
  position: relative;
}
.navblock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
}

.navblock__logo {
  position: relative;
  display: block;
  min-height: 50px;
  width: auto;
  height: calc(0.5264rem + 7.3679vw);
  max-height: 83px;
}
.navblock__upperwrap,
.navblock__listblock {
  padding: 15px calc(var(--containerpadding) + var(--borderpadding));
}
.navblock__listblock {
  display: flex;
}
.navblock__listblock li {
  margin-left: var(--internalpadding);
}

.navblock__item {
  display: block;
  color: var(--black);
  position: relative;
}
.navblock__item::after {
  display: block;
  content: "";
  position: relative;
  bottom: -10px;
  left: 0;
  height: 3px;
  width: 100%;
  border-radius: 10px;
  transform-origin: left;
  transition: transform 0.15s linear;
  transform: scaleX(0);
  background-color: var(--buttoncolor);
}
.navblock__item--active .navblock__linktext::after {
  background-color: var(--text-emphasis);
}
.navblock__item--active::after,
.navblock__item:hover::after,
.navblock__item:focus::after {
  transform: scaleX(1);
}
@media only screen and (max-width: 768px) {
  .navblock {
    flex-flow: wrap;
    position: relative;
  }
  .navblock__upperwrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    position: relative;
    z-index: 2;
    width: 100%;
  }
  .navblock__barwrap {
    display: block;
    min-height: 32px;
    height: calc(-5.1424px + 11.6071vw);
    height: calc(26.8576px + 1.6071vw);
    max-height: 50px;
    min-width: 32px;
    width: calc((26.8576px + 1.6071vw) * 1.142857142857);
    max-width: 57px;
  }
  .navblock__bars {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .navblock__bars span {
    position: absolute;
    left: 0;
    opacity: 1;
    border-radius: 10px;
    display: block;
    background-color: var(--buttoncolor);
    width: 100%;
    height: 16.67%;
    transform: rotate(0deg) translateY(0);
    transform-box: fill-box;
    transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
  }
  span.bar1 {
    top: 0;
  }
  span.bar2 {
    top: 42%;
  }
  span.bar3 {
    bottom: 0;
  }
  .navblock__bars.switch span {
    background-color: var(--white);
  }
  .navblock__bars.switch .bar1 {
    transform: translateY(250%) rotate(45deg);
  }
  .navblock__bars.switch .bar2 {
    transform: translateX(50px);
    opacity: 0;
  }
  .navblock__bars.switch .bar3 {
    transform: translateY(-250%) rotate(-45deg);
  }
  .navblock__relative {
    min-width: 100%;
    position: relative;
  }
  .navblock__listblock {
    position: relative;
    z-index: 4;
    display: flex;
    padding: 0;
    flex-flow: column;
    align-items: flex-start;
  }
  .navblock__listblock li {
    width: 100%;
    margin: 0;
  }
  .navblock__item::after {
    display: none;
  }
  .navblock__item {
    width: 100%;
    padding: 30px calc(var(--containerpadding) + var(--borderpadding));
    font-weight: 400;
    color: var(--white);
  }
  .navblock__item:hover,
  .navblock__item:focus {
    background-color: var(--text-emphasis);
  }
  .navblock__lower {
    z-index: 1;
    width: 100vw;
    position: absolute;
    top: 0;
  }
  .navblock__lower::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    height: 100vh;
    background-color: rgba(22, 112, 148, 0.8);
    background-color: rgba(37, 38, 39, 0.99);
  }
  .navblock__lower::before {
    z-index: 2;
    content: "";
    display: block;
    position: relative;
    min-height: 80px;
    height: calc((0.5264rem + 7.3679vw) + 30px);
    max-height: 113px;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--text-emphasis);
  }
  .sticky {
    position: sticky;
    z-index: 3;
    top: 0;
  }
  .navblock__lower--hide {
    display: none;
  }
  .navblock__lower--show {
    display: block;
    animation: fadeIn 0.5s;
    animation: moveIn 0.5s;
  }
  .navblock__lower--vanish {
    animation: moveOut 0.5s;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes moveIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes moveOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(150%);
    }
  }
}
/*! Outer framework styling */

main {
  position: relative;
  margin-top: clamp(6.25rem, -8.9179rem + 48.5373vw, 14.38rem);
}
.header--main {
  min-width: 320px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  padding: 0 calc(var(--borderpadding) + var(--containerpadding));
  margin-bottom: 258px;
}
.header__title {
  margin-bottom: 10px;
}
.header__text {
  max-width: 453px;
}
@media only screen and (min-width: 768px) {
  main {
    margin-top: 230px;
  }
  .header--main {
    margin-bottom: 309px;
  }
  .header__text {
    max-width: 553px;
  }
}
.sectiongrid {
  display: grid;
  row-gap: 20px;
  border-radius: 25px;
  background-color: var(--sectionborder);
}
.sectiongrid__title button {
  color: var(--white);
  text-align: left;
  width: 100%;
  padding: 90px var(--containerpadding) 60px;
  background-color: var(--darkblue);
  border-radius: 25px;
  transition: border-radius 0.25s;
}
.sectiongrid__title .expanded {
  border-radius: 25px 25px 0 0;
}
.content {
  padding: 60px var(--containerpadding) var(--parentpadding);
  background-color: var(--white);
  border-radius: 0 0 25px 25px;
}
.content__imagewrap {
  border: 4px solid var(--lightblue);
  border-radius: 4px;
}
.content__wrap {
  display: grid;
  grid-template:
    "aside  info" min-content
    "text   text" max-content
    "ideals ideals" 1fr
    / 1fr auto;
  column-gap: 15px;
}
.about__textblock {
  grid-area: text;
  max-width: 694px;
}
.about__list-text {
  margin-bottom: var(--tinypadding);
}
.about__imagewrap {
  grid-area: aside;
  overflow: hidden;
  min-height: 351px;
  height: calc(216.7536px + 41.9643vw);
  max-height: 479px;
  min-width: 119px;
  width: calc(-52.4432px + 53.5786vw);
  max-width: 359px;
}
.content__image--about {
  width: clamp(235px, 146.4688px + 27.6786vw, 359px);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 60% 50%;
}
.about__info {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.about__info-skills {
  margin-bottom: var(--internalpadding);
}
.about__info .content__title {
  margin-bottom: var(--tinypadding);
}
.about__info-contact .about__list {
  margin: calc((7.5px / 2) * -1);
  display: flex;
}
.about__info-contact .about__list > * {
  margin: calc(7.5px / 2);
}
.about__link {
  display: flex;
  flex-flow: column;
  align-items: center;
  opacity: 0.9;
  transform: scale(1);
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}
.about__link img {
  width: 42px;
  height: auto;
}
.about__link:hover,
.about_link:focus {
  opacity: 1;
  transform: scale(1.05);
}
@media only screen and (min-width: 768px) {
  .content__wrap {
    display: grid;
    grid-template:
      "text   aside" min-content
      "text   info" 1fr
      "ideals ideals" 1fr
      / 1fr min-content;
    column-gap: 60px;
  }
  .about__textblock {
    grid-area: text;
    max-width: 694px;
  }
  .about__imagewrap {
    grid-area: aside;
  }
  .about__imagewrap {
    overflow: hidden;
    width: 386px;
    max-height: 282px;
  }
  .about__info-contact .about__list {
    margin: calc(var(--tinypadding) * -1);
  }
  .about__info-contact .about__list > * {
    margin: var(--tinypadding);
  }
}
